
<div class="x_panel">
	
	<div class="x_title">
		<h3>Politicas del Asistencias</h3>
		<div class="clearfix"></div>
	</div>


	<div class="x_content">
			<p class="pt-1">SOAINT estables ciertas politicas:<br>
			 <strong><i class="far fa-clock"></i> Hora de Entrada:</strong> 8:00 A.M.</p>
			<p>
				<strong><i class="fas fa-utensils"></i> Hora de Almuerzo:</strong> 12:00 P.M - 1:00 P.M 
				<small><strong>Duracion: </strong>1hr.</small>	
			</p>
			<p>
				<strong><i class="fas fa-history"></i> Hora de Pausa Activa:</strong> 10:30 A.M - 3:00 P.M  <small><strong>Duracion: </strong>10min. durante la mañana y en la tarde.</small>	
			</p>
			<strong><i class="fas fa-running"></i> Hora de Salida:</strong> 5:00 P.M. 
	</div>
</div>	
	
