<div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="status == 'success' ">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ message }}</strong>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status == 'error' ">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ message }}</strong>
</div>

<form (ngSubmit)="registroActividad(RA1);" #RA1="ngForm">
	<div class="form-inline">
		<input matInput type="date" min="{{messagetwo}}" max="{{message}}" #fecha [(ngModel)]="RegistroactividadesModel.fecha"  name="fecha" class="form-control m-3" required>
		<select class="custom-select m-3" matInput #tipo_actividad [(ngModel)]="RegistroactividadesModel.tipo_actividad"  name="tipo_actividad" required>
			<option value="null" disabled>Tipos de Actividad</option>
			<option value="1">Curso</option>
			<option value="2">Proyecto</option>
			<option value="3">Cliente</option>
			<option value="4">Permiso</option>
			<option value="5">Otros</option>
		</select>
		<input type="number" class="form-control m-3" min="1" max="12" placeholder="Horas" maxlength="2" matInput #hora [(ngModel)]="RegistroactividadesModel.hora"  name="hora" required>
		<input type="text" class="form-control m-3" id="" size="30%" placeholder="Descripcion" matInput #descripcion [(ngModel)]="RegistroactividadesModel.descripcion"  name="descripcion" required>
		<button class="btn color-1 float-right" [disabled]="!RA1.form.valid"  >Registrar</button>
	</div>
	
</form>


