<div class="row m-0">
	<div class="col-md-6 col-sm-6 col-xs-12 ">

		<div class="x_panel">
			
			<div class="x_title">
				<h3>Control de Asistencias</h3>
				<div class="clearfix"></div>
			</div>
		
		
			<div class="x_content">
					<div class="LetraHora">
						<p id="horas" class="p"></p>:<p id="minutos" class="p"></p>
						<p id="ampm" class="p ml-3"></p>
					</div>
					<p align="center"><small class="LetraFecha" id="fecha"></small></p> 
			</div>
		</div>	
	</div>
	<div class="col-sm-6 col-md-6  col-xs-12 ">
		<app-politicas-asistencia></app-politicas-asistencia>	
	</div>	
	
</div>	

	


