<div class="row ">
	<div class="col-11">
		<select class="custom-select mx-1 mb-2" id="mes" (change)="ngGetReporteColectivo()">
		  <option selected disabled value="00">Mes</option>
		  <option value="01">Enero</option>
		  <option value="02">Febrero</option>
		  <option value="03">Marzo</option>
		  <option value="04">Abril</option>
		  <option value="05">Mayo</option>
		  <option value="06">Junio</option>
		  <option value="07">Julio</option>
		  <option value="08">Agosto</option>
		  <option value="09">Septiembre</option>
		  <option value="10">Octubre</option>
		  <option value="11">Noviembre</option>
		  <option value="12">Diciembre</option>
		</select>
	</div>
	<div class="col-1 p-0 m-0">
		<button class="btn color-1 float-left" (click)="generarPDF()">PDF</button>
	</div>
</div>
<div class="row" id="contenido">
	<div class="col-12">
		<table class="table  LetraTabla table-striped">
			<thead class="color-1">
			    <tr>
			      <th>Nombres</th>
			      <th class="size">Fecha</th>
			      <th>Hora de Entarada</th>
			      <th>Hora de Salida</th>
			      <th>Evento</th>
			      <th>Observaciones</th>
			    </tr>
			</thead>

		  	<tbody>
			    <tr *ngFor="let persona of personal">
			    	<td>{{ persona.nombres }} {{persona.apellidos}}</td>
				    <td>{{ persona.fecha }}</td>
				    <td>{{ persona.hora_entrada }}</td>
				    <td>{{ persona.hora_salida }}</td>
				    <td>{{ persona.evento }}</td>
				    <td>{{ persona.observaciones }}</td>
			    </tr>
		  	</tbody>
		</table>
	</div>
</div>
